body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif; 
    color: #000000; 
    background-color: #E5DFD2;
    
}


.header {
    background-color: #CDC5BB; 
    padding: 15px 50px; 
    height: 70px;
}

.navbar-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    max-width: 1200px; 
    margin: 0 auto; 
    flex-wrap: wrap;
}

.main-nav {
    display: flex; 
    gap: 150px; 
}

.nav-item {
    text-decoration: none; 
    color: #000000; 
    font-size: 1.2em; 
    font-weight: bold;
}

.nav-item:hover {
    color: #6f543e; 
}

.linia {
    background-color: #B58B8B;
    height: 26px;
}

.main-content {
    background-color: #BFA2A2; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 400px;
    padding: 20px; 
}

.intro-bubble {
    background-color: #E9D7CF; 
    border: 10px solid #AA8F83; 
    border-radius: 90px; 
    padding: 15px 40px; 
    text-align: center; 
    width: 500px; 
    height: 100px;
    align-items: center;
}

.intro-name {
    font-size: 2em;
    font-weight: bold; 
    margin-bottom: 25px;
    margin-top: 5px;
}

.intro-role {
    font-size: 1.3em; 
    color: #555; 
    padding-bottom: 15px;
}

.logo {
    width: 70px;
}




.topbar {
    height: 26px;
    width: 100%;
    background-color: #CCB998;
}

.container {
    max-width: 100%;
    background-color: #F5E8D1;
    height: 800px;
}

.title-box{
    display: block;
    margin: 0 auto 40px;
    padding: 14px 28px;
    width: fit-content;
    
   }


   .title-box h1{
    margin:0;
    font-size: 40px;
    font-weight: 700;
    color: #80573F;
    padding-top: 40px;
    text-align: center;
    align-items: center;
   }

   .colo {
    background-color: #DFD1B9;
    width: 880px;
    height: 110px;
    margin-top: 50px;
    margin-bottom: 5px;
   }

   
   .icons-area{
    display: flex;
    gap: 40px;
    align-items: center;
    min-height: 420px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
   }

   .csss {
    width: 100px;
   }

   .vs {
    width: 100px;
   }

   .httml {
    width: 100px;
   }

   .git {
    width: 100px;
   }

   .fig {
    width: 100px;
   }
   




   .polosa {
    background-color: #AEAEAE;
    height: 26px;
    width: 100%;
   }


   #ceri {
    display: block;
    margin:  auto;
    padding: 14px 28px;
    background-color: #C9C9C9;
    max-width: 100%;
    text-align: center;
    
   }

   .ceri h1 {
    margin-top:80px;
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 50px;
   }

   .raboti {
    text-align: center;
   }

   .page img {
    width: 800px;
    margin-top: 20px;
     border: 5px solid #17195E;
    
   }

   .knopka {
    text-decoration: none;
    background-color: #647EA9;
    font-size: 20px;
    border: 4px solid #000000;
    font-weight: bold;
    padding: 10px;
    color: #000;
   }

   .knopka:hover {
    color: #17195E;
   }

   .kkk {
    margin-top: 50px;
    text-align: center;
   }


   .kartinka img {
    width: 800px;
    margin-top: 20px;
     border: 5px solid #EEAD2A;
     margin-top: 100px;
    
   }

   .knopkaa {
    text-decoration: none;
    background-color: #EEAD2A;
    font-size: 20px;
    border: 4px solid #000000;
    font-weight: bold;
    padding: 10px;
    color: #000;
   }



   .knopkaa:hover {
    color: #78540e;
   }


   .kkkk {
    margin-top: 50px;
    text-align: center;
   }

   .kros img {
    width: 800px;
    margin-top: 20px;
    border: 5px solid #E3604C;
    margin-top: 100px;
    
   }

   .knopkaak {
    text-decoration: none;
    background-color: #E3604C;
    font-size: 20px;
    border: 4px solid #000000;
    font-weight: bold;
    padding: 10px;
    color: #000;
   }

   .knopkaak:hover {
    color: #6f2418;
   }

   .kkkkk {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 70px;
   }



   .palka {
   background-color: #629287;
    height: 26px;
    width: 100%;
    }

    #svyz {
    display: block;
    margin: auto ;
    padding: 14px 28px;
    background-color: #3D675D;
    max-width: 100%;
    text-align: center;
    }

    .cvyaz {
    margin-top: 50px;
    background-color: #3D675D;
    }

.form-container {
    width: 300px; 
    max-width: 90%; 
    padding: 20px; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    
}

input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 12px 15px; 
    border: none;
    border-radius: 10px; 
    background-color: #B3B3B3;
    font-size: 16px;
    color: #333; 
    box-sizing: border-box; 
    
}

textarea {
    height: 120px; 
    border-color: #575757;
    border-width: 6px;
}


input::placeholder,
textarea::placeholder {
    color: #666; 
    
}

button[type="submit"] {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 10px; 
    background-color: #E5B24F; 
    color: #333; 
    font-size: 18px;
    font-weight: bold; 
    cursor: pointer;
    box-sizing: border-box;
    
}




.pod {
    background-color: #E5DFD2;
    width: 100%;
    height: 60px;
}


.web {
    margin-left: 70px;
}

.contact-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    max-width: 90%; 
    padding: 20px 0; 
    font-size: 16px; 
}



.pril {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    align-items: flex-end; 
}

.social-item {
    display: flex;
    align-items: center; 
    gap: 8px; 
    text-decoration: none;
    color: #000;
}

.vkk {
    text-decoration: none;
    color: #000;
}

.tg {
    text-decoration: none;
    color: #000;
}